<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Document</title>
</head>

<body class="music">
    <header>
        <div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="">home</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-squared"></i></a>
                <a href=""><i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-apple"></i></a>
                <a href=""><i class="fab fa-amazon"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </header>
    <main>
        <h1>music //</h1>
        <div>
            <h4>Direc links</h4>
            <ul>
                <li><a href="">Albun</a></li>
                <li><a href="">video: organic love</a></li>
                <li><a href="">video: street light</a></li>
            </ul>
        </div>
        <section>
            <h3>albun twist in my reality</h3>
            <img src="/img/emilia-play-list.png" alt="">
            <ol>
                <li><a href=""><i class="fas fa-play"></i>Organic Love 2:40</a></li>
                <li><a href=""><i class="fas fa-play"></i>twist In My Reality 2:10</a></li>
                <li><a href=""><i class="fas fa-play"></i>Street Light 3:28</a></li>
                <li><a href=""><i class="fas fa-play"></i>Love Don't Live Here Anymore (Core) 3:49</a></li>
            </ol>
            <a href="#"> Go Top</a>
        </section>
        <section>
            <h3>Video Organic Love</h3>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Firmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
            <a href="#">Go Top</a>
        </section>
        <section>
            <h3>video street light</h3>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Firmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
            <a href="#">Go Top</a>
        </section>
    </main>
</body>

</html>